# PlatformIO
.pio
.pioenvs
.piolibdeps

# Python
.venv

# IDE
.vscode
.history

# macOS
.DS_Store
Thumbs.db

# Build artifacts
build/

# Compiled object files
*.o
*.obj
*.elf
*.bin
*.hex

# Logs
*.log